body{
    background-image: url('./resources/nightsky.jpg');
    font-family: 'Montserrat', sans-serif;
}

.container-one{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#logo{
    height: 250px;
    width: 250px;
}

#horizontxt{
    font-size: 4em;
    letter-spacing: 0.35em;
    color: white;
    display: block;
}

.container-two{
    margin-top: 0px;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 80px;
}

#aboutus{
    box-sizing: border-box;
    font-size: 3.5em;
    display: inline-block;
    margin-left: 100px;
}

#aboutus_p{
    box-sizing: border-box;
    width: 600px;
}

.col-1{
    width: 60%;
}

.col-2{
    width: auto;
    padding-top: 90px;
}